@import "../../node_modules/bootstrap/less/bootstrap";
@import "./variables.less";

body {
  background: @bgColor;
  color: @textColor;
  padding: 1em
}

body > h1 {
  border-bottom: 1px dashed black;
  margin-top: 0;
  padding: .5em;
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.controls {
  & {
    margin-bottom: 1em;
  }
}

.messages {
  & {
    display: flex;

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  & > .message {
    flex: 1;
    margin: .5em;
  }
}

.message {
  &:extend(.clearfix);

  > textarea {
    width: 100%;
    min-height: 400px;
  }

  > button {
    float: right;
  }
}
